body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #11538C;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
  padding: 20px;
}

#logo img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

footer {
  background-color: #11538C;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.uniq {
  width: 13%;
  height: 90%;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 11px;
}

.uniq input[type="text"] {
  color: #000000;
  height: 22px;
  width: 140px;
  padding: 6px;
  font-size: 15px;
  outline: none;
  border: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.uniq button {
  background-color: #3498db;
  color: rgb(247, 247, 247);
  border: none;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

#lupa {
  width: 11px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
